@model IEnumerable<FikiMedicalCentre.Models.mskaryawan>

@{
    ViewBag.Title = "IndexKaryawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kelola Data Karyawan</h2>
<br />

<p>
    @Html.ActionLink("Tambah Karyawan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempat_lahir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tgl_lahir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jenis_kelamin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_telp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.msrole.deskripsi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.status == 1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tempat_lahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tgl_lahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jenis_kelamin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_telp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.msrole.deskripsi)
            </td>
            <td>
                @Html.ActionLink("Ubah", "Edit", new { id = item.id_karyawan }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_karyawan }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.id_karyawan })
            </td>
        </tr>
    }
}

</table>
